<!DOCTYPE html>
<html lang="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>JavaChat</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<body class="light-mode">

<div id="username-page">
    <div class="username-page-container">
        <h2 class="title">Type your username</h2>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="accent username-submit">Join the Room</button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2>JavaChat</h2>
            <button id="toggle-dark-mode" class="accent">Toggle Dark Mode</button>
        </div>
        <div class="chat-content">
            <div class="user-list">
                <h3>Connected Users</h3>
                <ul id="userList">
                </ul>
            </div>
            <div class="chat-box">
                <ul id="messageArea"></ul>
                <form id="messageForm" name="messageForm">
                    <div class="form-group">
                        <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="connecting">Connecting...</div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/Script.js"></script>
</body>
</html>
